*, *::after, *::before{
    margin: 0;
    padding: 0;
}

:root {
    --cell-size: 100px;
}
body {
    box-sizing: border-box;
}

.board {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.box {
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.end {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    color: aliceblue;
    font-size: 5rem;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .9);
}